extends layout

block content
  h1= title
  p I created this website to help myself and others learn about dams in Oregon.
  p Dams are fascinating to me because they touch so many different subjects: engineering, politics, biology, culture.
  p This site is an attempt to synthesize and present as much information about dams as possible. While I am a flyfisherman, I do not believe that all dams should be torn down. I do believe however, that many dams were constructed with an incomplete understanding of the way rivers behave and how dams can dramatically affect all the lifeforms that live along the length of a river.