extends layout

block content
  h1= title
  p There are nearly 900 dams in Oregon. They create resevoirs, generate hydropower, control flooding, and some combine to form some of the most inland shipping channels in the country.
  p Dams also have negative effects, however. Some block fish like salmon and steelhead from migrating upstream to spawning grounds.
  p Most of these dams were created over 60 years ago, and close to a fifth of them are listed as highly hazardous by the Army Corps of Engineers .

  