doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.min.js")
    script(src="https://cdn.jsdelivr.net/npm/mappa-mundi/dist/mappa.min.js")
  body
    block content
